body {
	background-image:url("ns_pics/983296.jpg");
	background-color:#666666;
	font-family:Arial, Helvetica, sans-serif;
}
.ns_title {
	text-align:center;
	font-size:28px;
	color:#ffffff;
	margin-top:-24px;
}
.title_line {
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:none;
	height:20px;
	background-color:#336666;
	margin-top:-28px;
}
.greeting {
	font:Arial_Narrow;
	text-align:center;
	font-size:24;
	color:#41C7DB;	
}
.ns_label {
	color:#FFFFFF;
	margin-right:4px;
}
.text_field {
	margin-bottom:8px;
}
.ns_input {
	text-align:center;
	margin-top:40px;
}
.ns_submit {
	background-color:#3366CC;
	border-color:#FFFFFF;
	color:#FFFFFF;
	padding:8px 16px;
	margin-top:12px;
	margin-bottom:40px;
}
.ns_cancel {
	background-color:#3366CC;
	border-color:#FFFFFF;
	color:#FFFFFF;
	padding:8px 16px;
	margin-top:12px;
	margin-bottom:40px;
}
